section{
  display: block;
}

.section-1{
  border-bottom: 1px solid rgb(203, 203, 203);
  padding-top: 5rem;
  position: relative;
}

.container{
  width: 100%;
  max-width: 1216px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.row{
  display: flex;
  grid-row-gap: 2.5rem;
  align-content: stretch;
  margin-left: -20px;
  margin-right: -20px;
  align-items: center;
  justify-content: center;
}

.column{
  max-width: 50%;
  flex-basis: 50%;
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
}

.h1 {
  margin-top: 0;
  margin-bottom: 0.4em;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1;
}

.large-paragraph{
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 2em;
  margin-top: 0;
}

.column button{
  background: rgb(0, 151, 91);
  color: rgb(242, 251, 217);
  padding: 1em 1.5em;
  border: none;
  border-radius: 3em;
  font-size: 1em;
  transition: 0.2s;
}

.column button:hover{
  background: rgb(242, 251, 217);  
  color: rgb(0, 151, 91);
  cursor: pointer;
}

.section-2{
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  text-align: center;
}

.h2{
  margin-top: 0;
  margin-bottom: 0.3em;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
}

.search-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-top: 5em;
}

.topic{
  display: flex;
  height: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  padding: 24px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topic:hover{
  cursor: pointer;
  background: rgb(0, 151, 9);
  color: rgb(242, 251, 217);
}

.medium-paragraph{
  font-size: 1rem;
  line-height: 1.5;
}